{% extends 'base.html' %}

{% block content %}
  <div class="pre-header padding-y-xs js-pre-header">
    <div class="container max-width-lg position-relative">
      <div class="text-component text-center text-sm padding-x-lg">
        <p>This is a placeholder</p>
      </div>

      <button class="pre-header__close-btn js-pre-header__close-btn ">
        <svg class="icon" viewBox="0 0 20 20">
          <title>Close header banner</title>
          <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
            <line x1="4" y1="4" x2="16" y2="16" />
            <line x1="16" y1="4" x2="4" y2="16" />
          </g>
        </svg>
      </button>
    </div>
  </div>
{% endblock %}